<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hacker News</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{/*  <link rel="stylesheet" type="text/css" media="screen" href="style.css">  */}}
  {{/*  <script src="main.js"></script>  */}}
  <style>
    body {
      margin: 50px;
    }

    h1 {
      font-size: 1.7rem;
    }

    section#headlines {
      font-size: 1.2rem;
    }

    section#headlines ol {
      line-height: 1.6rem;
    }

    span.author {
      margin-left: 1rem;
    }
  </style>
</head>

<body>
  <h1>Hacker News</h1>
  <section id="headlines">
    <ol>
      {{ range $story := . }}
      <li><a href="{{ $story.Url }}">{{ $story.Title }}</a> <span class="author">{{ $story.By }}</span></li>
      {{ end }}
    </ol>
  </section>
</body>

</html>